@model IEnumerable<web.Context.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Đơn Hàng</h2>


<table class="table">
    <thead class="bg-primary">
        <tr>
            <th>
                Tên đơn hàng
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>*@
            <th>
                Ngày tạo đơn hàng
                @*@Html.DisplayNameFor(model => model.CreatedOnUtc)*@
            </th>
            <th>Chức năng</th>
        </tr>
        </thead>

        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.CreatedOnUtc)
    </td>
    
    <td>
        @*<a href="@Url.Action("Edit","Order", new { id = item.Id })" class="btn btn-md btn-primary ">  <i class="fa fa-edit"></i></a> |*@
        <a href="@Url.Action("Details","Order", new { id = item.Id })" class="btn btn-md btn-primary "> <i class="fa fa-eye"></i></a> |
        <a href="@Url.Action("Delete","Order", new { id = item.Id })" class="btn btn-md btn-danger "><i class="fa fa-trash-alt"></i></a>

    </td>
    
    
</tr>
        }

</table>
