@*@model List<web.Context.Product>*@

@model Web.Models.HomeModel
@{
    ViewBag.Title = "Product_Category";
}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    <div class="container">


        <!-- ============================  FILTER TOP  ================================= -->
        <!--<div class="card mb-3">
            <div class="card-body">
                <ol class="breadcrumb float-left">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Category name</a></li>
                    <li class="breadcrumb-item active">Item details</li>
                </ol>
            </div>-->
        <!-- card-body .// -->
        <!--</div>--> <!-- card.// -->
        <!-- ============================ FILTER TOP END.// ================================= -->


        <div class="row">
            <aside class="col-md-2">

                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_1">Loại sản phẩm </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_1">
                        <div class="inner">
                            <ul class="list-menu">
                                @foreach (var item in Model.ListCategory.Take(6))
                                {
                                    <li>
                                        <a href="@Url.Action("Product_Category", "Category", new { Id = item.Id })">@item.Name</a>
                                    </li>

                                }
                            </ul>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group  .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_2"> Thương hiệu </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_2">
                        <div class="inner">
                            <label class="custom-control custom-checkbox">

                                @foreach (var item in Model.ListBrands.Take(6))
                                {
                                    @*<input type="checkbox" checked class="custom-control-input">*@
                                    <li class="custom-control-label" style="list-style-type:none;">

                                        <a href="@Url.Action("Product_Category", "Brands", new { Id = item.Id })">@item.Name</a>
                                    </li>



                                }
                            </label>

                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_3"> Giá </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_3">
                        <div class="inner">
                            <input type="range" class="custom-range" min="0" max="100" name="">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Nhỏ nhất</label>
                                    <input class="form-control" placeholder="$0" type="number">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Lớn nhất</label>
                                    <input class="form-control" placeholder="$1,0000" type="number">
                                </div>
                            </div> <!-- form-row.// -->
                            <button class="btn btn-block btn-primary">Chọn</button>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_4"> Kích thước </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_4">
                        <div class="inner">
                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XS </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> SM </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> LG </span>
                            </label>

                            <label class="checkbox-btn">
                                <input type="checkbox">
                                <span class="btn btn-light"> XXL </span>
                            </label>
                        </div> <!-- inner.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <!--<article class="filter-group">
                    <h6 class="title">
                        <a href="#" class="dropdown-toggle" data-toggle="collapse" data-target="#collapse_5"> Condition </a>
                    </h6>
                    <div class="filter-content collapse show" id="collapse_5">
                        <div class="inner">
                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" checked="" class="custom-control-input">
                                <div class="custom-control-label">Any condition</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Brand new </div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Used items</div>
                            </label>

                            <label class="custom-control custom-radio">
                                <input type="radio" name="myfilter_radio" class="custom-control-input">
                                <div class="custom-control-label">Very old</div>
                            </label>
                        </div>--> <!-- inner.// -->
                    <!--</div>
                </article>--> <!-- filter-group .// -->

            </aside> <!-- col.// -->
            <main class="col-md-10">


                <header class="mb-3">
                    <div class="form-inline">


                        <div class="btn-group">
                            @foreach (var item in Model.ListCategory.Take(1))
                            {
                                @*@Url.Action("Product_Category", "Category", new { Id = item.Id })*@
                                <a href="@Url.Action("Product_Category", "Category", new { Id = item.Id })" class="btn btn-light active">
                                    <i class="fa fa-bars"></i>
                                </a>
                                <a href="@Url.Action("Product_grid", "Category", new { Id = item.Id })" class="btn btn-light ">
                                    <i class="fa fa-th"></i>
                                </a>


                            }
                        </div>
                    </div>
                </header><!-- sect-heading -->

                @foreach (var item in Model.ListProduct)
                {
                    <article class="card card-product-list">
                        <div class="row no-gutters">
                            <aside class="col-md-3">
                                <a href="@Url.Action("Detail","Product",new { Id = item.Id })" class="img-wrap">
                                    <span class="badge badge-danger"> Mới </span>
                                    <img src="~/Content/images/items/@item.Avatar">
                                </a>
                            </aside> <!-- col.// -->
                            <div class="col-md-6">
                                <div class="info-main">
                                    <a href="@Url.Action("Detail","Product",new { Id = item.Id })" class="h5 title"> @item.Name</a>
                                    <div class="rating-wrap mb-2">
                                        <ul class="rating-stars">
                                            <li style="width:100%" class="stars-active">
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </li>
                                        </ul>
                                        <div class="label-rating">9/10</div>
                                    </div> <!-- rating-wrap.// -->



                                    <p>
                                        @item.ShortDes
                                    </p>

                                </div> <!-- info-main.// -->
                            </div> <!-- col.// -->

                    </article> <!-- card-product .// -->


                }



                <nav class="mb-4" aria-label="Page navigation sample">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" href="#">Trang</a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        @*<li class="page-item"><a class="page-link" href="#">Next</a></li>*@
                    </ul>
                </nav>


                @*<div class="box text-center">
                    <p>Did you find what you were looking for？</p>
                    <a href="" class="btn btn-light">Yes</a>
                    <a href="" class="btn btn-light">No</a>
                </div>*@


            </main> <!-- col.// -->

        </div>

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<!--<section class="padding-y-lg bg-light border-top">
    <div class="container">

        <p class="pb-2 text-center">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="form-row">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div>--> <!-- col.// -->
                    <!--<div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div>--> <!-- col.// -->
                <!--</form>
                <small class="form-text">We’ll never share your email address with a third-party. </small>
            </div>--> <!-- col-md-6.// -->
        <!--</div>


    </div>
</section>-->
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
