@model IEnumerable<web.Context.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<script>
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;

        while (switching) {

            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {

                shouldSwitch = false;

                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];

                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {

                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
    function sortTable2() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("myTable");
        switching = true;

        while (switching) {

            switching = false;
            rows = table.rows;

            for (i = 1; i < (rows.length - 1); i++) {

                shouldSwitch = false;

                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];

                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {

                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {

                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>
<h2 class="container">Thương hiệu</h2>
<div class="container d-flex mt-5 ">
    <p class="container  ">
        <a href="@Url.Action("Create","Brand")" class="btn btn-md btn-success "><i class="fa fa-plus"></i> &nbspThêm thương hiệu</a>
    </p>

    <div class="container d-flex flex-row-reverse">

        <p><button onclick="sortTable2()" class="btn btn-md btn-primary "><i class="fas fa-sort-alpha-down-alt"></i></button></p>
        <p><button onclick="sortTable()" class="mx-3 btn btn-md btn-primary"> <i class="fas fa-sort-alpha-down"></i></button></p>
    </div>
</div>
<table class="table container" id="myTable">
    <tr class="bg-primary">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Slug)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.ShowOnHomePage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateOnUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deleted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td class="text-center" style="width:100px;height:100px">

        <img src="~/Content/images/items/@item.Avatar" class="img-fluid" alt="" />
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.Slug)
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.ShowOnHomePage)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DisplayOrder)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CreatedOnUtc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UpdateOnUtc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Deleted)
    </td>
    <td class="text-center" style="width:300px">
        <a href="@Url.Action("Edit","Brand", new { id = item.Id })" class="btn btn-md btn-primary ">  <i class="fa fa-edit"></i></a> |
        <a href="@Url.Action("Details","Brand", new { id = item.Id })" class="btn btn-md btn-primary "> <i class="fa fa-eye"></i></a> |
        <a href="@Url.Action("Delete","Brand", new { id = item.Id })" class="btn btn-md btn-danger "><i class="fa fa-trash-alt"></i></a>

    </td>
</tr>
    }

</table>
