@model web.Context.User

@{
    ViewBag.Title = "Register";
}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
            <article class="card-body">
                <header class="mb-4"><h4 class="card-title">Đăng ký</h4></header>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <form>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Họ</label>
                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Tên</label>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    <div class="form-group">
                        <label>Email</label>
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div> <!-- form-group end.// -->
                   
                    
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Tạo mật khẩu</label>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div> <!-- form-group end.// -->
                       
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Đăng ký  </button>
                    </div> <!-- form-group// -->
                    <!--<div class="form-group">
                        <label class="custom-control custom-checkbox"> <input type="checkbox" class="custom-control-input" checked=""> <div class="custom-control-label"> I am agree with <a href="#">terms and contitions</a>  </div> </label>
                    </div>--> <!-- form-group end.// -->
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
            <p class="text-center mt-4">Bạn có tài khoản? @Html.ActionLink("Đăng nhập", "Login")</p>
        <br><br>
        <!-- ============================ COMPONENT REGISTER  END.// ================================= -->

    }
    </section>
